html {
  
}
body {
  color: #333333;
  font-family: Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  transition: all 0.3s ease; 
}

.menu-element {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.code{
  font-family: Consolas, "Courier New", sans-serif;
}

.content {
  margin: auto;
}
.quill-wrapper {
  border: 1px solid #ccc;
  box-shadow: 0 0 5px #e5e5e5;
}
.quill-toolbar {
  border-bottom: 1px solid #ccc;
}

.header {
  background-color: #333;

  color: #bbbbbb;
  font-size: 3rem;
  padding: 0 2rem;
}

.content {
  max-width: 1024px;
}

.white {
  color: #FFFFFF;
}

.smaller {
  font-size: 0.6rem;
}

.right-border {
  border-right: 1px solid #cecece;
}

