<div class="content">
    <md-content flex class="md-padding">
        <h1>Add new content</h1>
    </md-content>

    <md-content flex class="md-padding">
        <md-input-container>
            <label>Document title</label>
            <input ng-model="user.title">
        </md-input-container>
    </md-content>


    <md-content flex class="md-padding">
        <div class="quill-wrapper">
            <div class="quill-toolbar">
                <!-- Add font size dropdown -->
              <span class="ql-format-group">
                <select class="ql-font">
                    <option selected value="serif">Serif</option>
                    <option value="sans-serif">Sans Serif</option>
                    <option value="monospace">Monospace</option>
                </select>

                <select class="ql-size">
                    <option value="0.75rem">Small</option>
                    <option value="1rem" selected>Normal</option>
                    <option value="1.5rem">Large</option>
                    <option value="2.5rem">Huge</option>
                    <option value="3.5rem">Extra big</option>
                </select>
              </span>
                <!-- Add a bold button -->
              <span class="ql-format-group">
                <span class="ql-bold ql-format-button" title="Bold"></span>
                <span class="ql-format-separator"></span>
                <span class="ql-italic ql-format-button" title="Italic"></span>
                <span class="ql-format-separator"></span>
                <span class="ql-underline ql-format-button" title="Underline"></span>
              </span>
            </div>

            <!-- Create the editor container -->
            <div class="editor">
                Document content
            </div>
        </div>
    </md-content>
    <md-content flex class="md-padding">
        <md-button class="md-raised md-primary" ng-click="AddContentCtrl.save()">Save</md-button>
        <md-input-container class="md-block">
            <label>HTML preview</label>
                <textarea class="code" ng-model="AddContentCtrl.htmlPreview"
                          ></textarea>
        </md-input-container>
    </md-content>
</div>